.pure-g {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
    margin-bottom: 40px;
}


h1 {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: 900;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: 400;
}

body {
    background-color: #d8f7fd4b;
}

p {
	font-family: 'Roboto';
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

#choropleth_map {
	/* top:10px;
	bottom: 50px; 
	left: 50px;
	right: 50px; */
	width: 100%;
	height: 500px;
}

#energy_dot_plot {
	width: 100%;
	height: 500px;
}
