body {
    /* padding-top: 100px;
	padding-right: 200px;
	padding-left: 200px;
	padding-bottom: 50px; */
	width: 1000px;
	margin: auto;
  	padding: 50px;
	text-align: justify;
}

body *{
	font-family: 'Roboto', sans-serif;
}

.pure-g {
	margin-left: 20px;
	margin-right: 20px;
}


h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #44535f;
	font-weight: 900;
	font-size: 42pt;
	text-align: center;
	white-space: nowrap;
	margin-bottom: 5px;
}

.title_block {
	display: table;
	margin: 0 auto;
	width: 1%;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #44535f;
	font-weight: 900;
	border-bottom: 3px solid #44535f;
	width: 100%;
	font-size: 30pt;
	display: block;
	/* text-transform: uppercase; */
	margin-bottom: 5px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: 400;
	font-size: 20pt;
	padding-left: 15px;
	padding-right: 15px;
}

body {
    background-color: #CCE6E5;
	/* background: rgb(46,47,47);
	background: radial-gradient(circle, rgba(46,47,47,1) 0%, rgba(76,80,80,1) 15%, rgba(46,47,47,1) 100%); */
	/* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
	/* background: linear-gradient(to top, #c79081 0%, #dfa579 100%); */

}

p {
	font-family: 'Roboto';
	color: #5e6c79;
	font-size: 14pt;
}

.bigger_br {
	display: block;
	margin-top: 8px;
}

.section {
    /* border-style: solid; */
	border-radius: 20px;
	/* border-color: #44535f; */
	margin-bottom: 15px;
	background-color: #eff7f7;
	/* background-color: #ebd7c8; */
	box-shadow: .8em 0.5em .4em  #bfc5c5, -.8em 0.5em .4em  #bfc5c5;
	
}

.description-right {
    padding-left: 100px;
	padding-right: 50px;
}

.description-left {
    padding-right: 100px;
	padding-left: 50px;
}

input[type=button] {
	padding:5px 15px; 
    background:#d7ebea; 
	/* border:0; */
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=button]:hover {
	background-color: #abdad8;
}

#intro_text_left {
	padding-left: 15px;
	padding-right: 15px;
}

#intro_text_right {
	padding-right: 15px;
	padding-left: 15px;
}

.left_button {
	width: 45%;
	margin-left: 15px;
	margin-bottom: 10px;
}

.right_button {
	width: 45%;
	margin-left: 15px;
}

#dot_title {
	margin-top: 10px;
}

#energy_parent {
	position: relative;
	z-index: 1;
	height: 1000px;
}

#energy_dot_plot {
	width: 100%;
	height: 1000px;
	display: block;
	position: absolute;
	z-index: 2;
	margin-bottom: 65px;
}

#energy_overlay {
	width: 100%;
	height: 500px;
	display: block;
	/* background-color:#44535f4d; */
	margin-top: 50px;
	margin-left: 70px;
	margin-bottom: 60px;
	opacity: 0.4;
	position: absolute;
}

#dot_info1 {
	width: 260px;
	position: absolute;
	margin-top: 20px;
	margin-left: 360px;
}

#dot_info2 {
	width: 260px;
	position: absolute;
	margin-top: 20px;
	margin-left: 670px;
}

#dot_interaction {
	width: 350px;
	position: absolute;
	margin-top: 230px;
	margin-left: 60px;
}

#slide_interaction_dot {
	width: 350px;
	position: absolute;
	margin-top: 600px;
	margin-left: 80px;
}

#energy_parent label {
	position: absolute;
	margin-top: -430px;
	z-index: 3;
	width: 100%;
}

#energy_div {
	width: 100%;
	height: 430px;
}

.developing_countries {
	color: #eea9df;
}

.developed_countries {
	color: #57a743;
}

.annual_co2_pc {
	color: #A67E51;
}

.GDP_pc {
	color: #2E2F2F;
}

.Africa {
	color: #CAB6C6;
	font-weight: bold;
}

.Asia {
	color: #6E6D6C;
	font-weight: bold;
}

.Europe {
	color: #66D68E;
	font-weight: bold;
}

.Oceania {
	color: #A67E51;
	font-weight: bold;
}

#co2_multiples_area {
	margin-top: -30px;
}

#plot_desc {
	padding-top: 200px;
}

#treemap_sectors {
	width: 100%;
	height: 500px;
}

.industry {
	font-weight: bold;
	color: #B893CC;
}

.buildings {
	font-weight: bold;
	color: #6E6D6C;
}

.land_use {
	font-weight: bold;
	color: #66D68E;
}

.transport {
	font-weight: bold;
	color: #82B5EF;
}

#bump_area_chart_world {
	width: 100%;
	height: 500px;
}

.coal {
	font-weight: bold;
	color: #A67E51;
}

.gas {
	font-weight: bold;
	color: #E4B886;
}

.oil {
	font-weight: bold;
	color: #6E6D6C;
}

.solar {
	font-weight: bold;
	color: #FE8E86;
}

.wind {
	font-weight: bold;
	color: #B893CC;
}

.nuclear {
	font-weight: bold;
	color: #66D68E;
}

.hydro {
	font-weight: bold;
	color: #82B5EF;
}

.renewables {
	font-weight: bold;
	color: #5EA0FD;
}

#stacked_parent {
	position: relative;
	z-index: 1;
}

#slide_stacked {
	width: 700px;
	position: absolute;
	margin-top: -20px;
	margin-left: 80px;
}

#stacked_bar_elec_source {
	width: 100%;
	height: 500px;
	margin-bottom: 60px;
}

#area_renewables {
	width: 100%;
	height: 500px;
	margin-top: -20px;
}

#slope_parent {
	position: relative;
	z-index: 1;
}

#slope_desc {
	width: 250px;
	height: auto;
	display: block;
	position: absolute;
	padding-left: 220px;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 40px;
}

#slope_chart_lcoe {
	width: 100%;
	height: 500px;
	z-index: 2;
	margin-top: -20px;
}

#safer_heading {
	margin-bottom: 0px;
}

#butterfly_parent {
	margin-top: -20px;
	position: relative;
	z-index: 1;
}

#butterfly_chart_deaths_ghg {
	width: 100%;
	height: 400px;
	padding-left:60px;
	/* position: absolute; */
	z-index: 2;
}

#butterfly_desc_coal {
	width: 300px;
	height: auto;
	display: block;
	position: absolute;
	padding-left: 15px;
	margin-left: 0px;
	margin-top: 130px;
	margin-bottom: 40px;
}

#butterfly_desc_nuclear {
	width: 360px;
	height: auto;
	display: block;
	position: absolute;
	padding-left: 15px;
	margin-left: 0px;
	margin-top: 240px;
	margin-bottom: 40px;
}

#butterfly_desc_solar {
	width: 360px;
	height: auto;
	display: block;
	position: absolute;
	padding-left: 0px;
	margin-left: 580px;
	margin-top: 240px;
	margin-bottom: 40px;
}

#butterfly_desc_gas {
	width: 190px;
	height: auto;
	display: block;
	position: absolute;
	padding-left: 0px;
	margin-left: 750px;
	margin-top: 130px;
	margin-bottom: 40px;
}

#choropleth_map_low_carbon {
	width: 100%;
	height: 500px;
}

#slide_interaction_choropleth {
	width: 250px;
	position: absolute;
	margin-top: -460px;
	margin-left: 220px;
}

.uk {
	color: #FE5F55;
	font-weight: bold;
}

#line_lowcarbon {
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
}

label {
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
}

input[type="range"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none; 
	/* creating a custom design */
	width: 90%;
	cursor: pointer;
	outline: none;
	border-radius: 10px;
	/*  overflow: hidden;  remove this line*/
	
	/* New additions */
	height: 8px;
	background: #dce2e6d2;

	margin-left: 10px;
	margin-right: 10px;
  }

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none; 
	/* creating a custom design */
	height: 25px;
	width: 10px;
	background-color: #44535f;
	border: none;
  	transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	height: 25px;
	width: 10px;
	background-color: #44535f;
	border: none;
	transition: .2s ease-in-out;
}
